<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="dataConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Data.Configuration.DatabaseSettings, Microsoft.Practices.EnterpriseLibrary.Data" />
    <section name="HSFConfig" type="HSF.TechSvc2010.Common.HSFConfigKeyHandler,HSF.TechSvc2010.Common, Version=1.0.0.0, Culture=neutral, PublicKeyToken=50535a6f1106be75" />
  </configSections>
  <HSFConfig Key="iLCAuYFtxTXK2H4OS+7u+iWMHy9uQJNhj0zUR+DD/HY=" IV="DpFhgajV+TUOw9FPQWZHkQ==" ReadCacheInterval="60000" />
  <appSettings>
    <!-- [ 용어정의 ] -->
    <!-- URL : http 프로토콜 접근 시 사용하는 경로 표기법 -->
    <!-- PATH : 윈도우 플더 접근 시 사용하는 경로 표기법 -->
    <!-- NOTE: 버전 체크용 설정값 -->
    <add key="IOS_VERSION" value="1.0" />
    <add key="WPF_VERSION" value="1.0" />
    <add key="ANDROID_VERSION" value="1.0" />
    <add key="IPAD_MESSAGE" value="INFO_IAPD_VER_XXXX-XXXX-XXXX" />
    <add key="Log" value="Off" />
    <!-- [ 광파일서버 저장 시 SMB 프로토콜 이용 설정값 ] -->
    <!-- NOTE: 광파일서버의 전자동의서 루트경로 -->
    <!-- <add key="NAS_PATH_01" value="S:\File.Server\FILE_DSMC01\ELECTRONIC_CONSENT\" /> -->
    <!-- <add key="NAS_PATH_02" value="S:\File.Server\FILE_DSMC02\ELECTRONIC_CONSENT\" /> -->
    <!-- NOTE: 광파일서버 접근 시 사용되는 인증정보 -->
    <!-- <add key="NAS_DOMAIN" value="" /> -->
    <!-- <add key="NAS_USERID" value="" /> -->
    <!-- <add key="NAS_PASSWD" value="" /> -->
    <!-- [ 광파일서버 저장 시 FTP 프로토콜 이용 설정값 ] -->
    <!-- <add key="FTP_SERVER" value="ezsmart.mooo.com"/> -->
    <!-- <add key="FTP_PORT" value="21"/> -->
    <!-- <add key="FTP_USERID" value="eConsentUser"/> -->
    <!-- <add key="FPT_PASSWD" value="~1wjswkehddmltj"/> -->
    <!-- <add key="FTP_PATH" value="/File_SCMC/ELECTRONIC_CONSENT/CIMAGE"/> -->
    <!-- NOTE: 전자동의서 웹서비스 루트경로 -->
    <!-- 전자동의서 문서 내 스크립트 경로 설정에 필요 -->
    <add key="WAS_SERVER" value="http://localhost/eConsent" />
    <!-- NOTE: 광파일서버 URL 접근하여 파일 접근 시 사용 -->
    <!--Mobile, 작성 후 조회시 img src 경로 만들때 사용, MakeViwerHtml-->
    <add key="FTP_ROOT" value="/MC/EltrCsfmImg/ELECTRONIC_CONSENT" />
    <add key="TEMP_PATH" value="C:\Temp\eConsent" />
    <!-- 구분: '공통',  구성정보명: '이미지서버 URL'-->
    <add key="FS_URI_KEY" value="01:localhost;02:localhost;03:localhost" />
    <!-- 구분: '공통',  구성정보명: 'FMGR 파일전송 포트'-->
    <add key="FS_PORT_KEY" value="8091" />
    <!-- 구분 : 공통,   구성정보명: '이미지서버 업로드 경로 - 01 : 성서 / 02 : 동산'-->
    <add key="FileServerUploadRoot" value="01:HISFILE01;02:HISFILE02;03:HISFILE03" />
    <add key="BESTCARE_REGISTRY_KEY" value="CNUH" />
  </appSettings>
  <dataConfiguration defaultDatabase="OracleConnectionString">
    <providerMappings>
      <add databaseType="Microsoft.Practices.EnterpriseLibrary.Data.Oracle.OracleDatabase, Microsoft.Practices.EnterpriseLibrary.Data" name="Oracle.DataAccess.Client" />
    </providerMappings>
  </dataConfiguration>
  <connectionStrings>
    <add name="OracleConnectionString" connectionString="Data Source=DEVENDB;USER ID=xcfm;PASSWORD=xcfm_dev;" providerName="Oracle.DataAccess.Client" />
  </connectionStrings>
  <!--
    web.config 변경 내용에 대한 설명은 http://go.microsoft.com/fwlink/?LinkId=235367을 참고하십시오.

    다음 특성은 <httpRuntime> 태그에 설정할 수 있습니다.
      <system.Web>
        <httpRuntime targetFramework="4.6.2" />
      </system.Web>
  -->
  <system.web>
    <compilation debug="true" targetFramework="4.6.2" />
    <httpRuntime />
    <httpModules />
    <pages controlRenderingCompatibilityVersion="4.0" />
  </system.web>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <modules />
    <staticContent>
      <mimeMap fileExtension=".svc" mimeType="application/octet-stream" />
      <mimeMap fileExtension=".apk" mimeType="application/vnd.android.package-archive" />
      <mimeMap fileExtension=".plist" mimeType="text/xml" />
      <mimeMap fileExtension=".ipa" mimeType="application/octet-stream" />
    </staticContent>
    <!--<staticContent>
      <remove fileExtension=".woff" />
      <mimeMap fileExtension=".woff" mimeType="application/font-woff" />
    </staticContent>-->
  </system.webServer>
  <system.serviceModel>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" />
    <behaviors>
      <serviceBehaviors>
        <behavior name="HSPSvcBehavior">
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="false" />
          <dataContractSerializer maxItemsInObjectGraph="2147483646" />
          <serviceThrottling maxConcurrentCalls="512" maxConcurrentInstances="1000" />
        </behavior>
        <behavior name="TransferServiceBehavior">
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="true" />
          <serviceThrottling maxConcurrentCalls="512" maxConcurrentInstances="1000" />
        </behavior>
      </serviceBehaviors>
      <endpointBehaviors>
        <behavior name="restBehavior">
          <webHttp />
          <dataContractSerializer maxItemsInObjectGraph="2147483646" />
        </behavior>
      </endpointBehaviors>
    </behaviors>
    <bindings>
      <webHttpBinding>
        <binding name="restBinding" openTimeout="00:01:00" closeTimeout="00:01:00" sendTimeout="00:05:00" receiveTimeout="00:10:00" maxBufferSize="2147483647" maxBufferPoolSize="2147483647" maxReceivedMessageSize="2147483647" transferMode="Streamed">
          <readerQuotas maxDepth="32" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647" />
          <security mode="None" />
        </binding>
      </webHttpBinding>
      <basicHttpBinding>
        <binding name="basicBinding" maxBufferSize="2147483647" maxBufferPoolSize="2147483647" maxReceivedMessageSize="2147483647" transferMode="Streamed" sendTimeout="00:05:00">
          <readerQuotas maxDepth="32" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647" />
          <security mode="None" />
        </binding>
        <binding name="transferBinding" maxReceivedMessageSize="20971520" maxBufferSize="10485760" transferMode="Streamed">
          <readerQuotas maxDepth="10485760" maxStringContentLength="10485760" maxArrayLength="10485760" maxBytesPerRead="1048576" maxNameTableCharCount="10485760" />
          <security mode="None" />
        </binding>
        <binding name="eConsentServiceSoap" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" maxBufferSize="524288" maxBufferPoolSize="524288" maxReceivedMessageSize="524288" messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true">
          <readerQuotas maxDepth="32" maxStringContentLength="20971520" maxArrayLength="20971520" maxBytesPerRead="20971520" maxNameTableCharCount="20971520" />
          <security mode="None">
            <transport clientCredentialType="None" proxyCredentialType="None" realm="" />
            <message clientCredentialType="UserName" algorithmSuite="Default" />
          </security>
        </binding>
      </basicHttpBinding>
      <customBinding>
        <binding name="eConsentServiceSoap12">
          <textMessageEncoding maxReadPoolSize="64" maxWritePoolSize="16" messageVersion="Soap12" writeEncoding="utf-8">
            <readerQuotas maxDepth="32" maxStringContentLength="20971520" maxArrayLength="20971520" maxBytesPerRead="20971520" maxNameTableCharCount="20971520" />
          </textMessageEncoding>
          <httpTransport manualAddressing="false" maxBufferPoolSize="20971520" maxReceivedMessageSize="20971520" allowCookies="false" authenticationScheme="Anonymous" bypassProxyOnLocal="false" decompressionEnabled="true" hostNameComparisonMode="StrongWildcard" keepAliveEnabled="true" maxBufferSize="20971520" proxyAuthenticationScheme="Anonymous" realm="" transferMode="Buffered" unsafeConnectionNtlmAuthentication="false" useDefaultWebProxy="true" />
        </binding>
      </customBinding>
    </bindings>
    <client>
      <endpoint address="http://172.17.12.53/HIS/WS/MC/AE/eConsentService.asmx" binding="basicHttpBinding" bindingConfiguration="eConsentServiceSoap" contract="eConsentServiceSoap" name="eConsentServiceSoap" />
    </client>
    <services>
      <service behaviorConfiguration="HSPSvcBehavior" name="EzForm.Common.BIZ.CommonBL">
        <endpoint address="" behaviorConfiguration="restBehavior" binding="webHttpBinding" bindingConfiguration="restBinding" contract="EzForm.Common.BIZ.ICommonBL" />
        <endpoint address="soap" binding="basicHttpBinding" bindingConfiguration="basicBinding" contract="EzForm.Common.BIZ.ICommonBL" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>
      <service behaviorConfiguration="HSPSvcBehavior" name="EzForm.EMR.BIZ.EmrBL">
        <endpoint address="" behaviorConfiguration="restBehavior" binding="webHttpBinding" bindingConfiguration="restBinding" contract="EzForm.EMR.BIZ.IEmrBL" />
        <endpoint address="soap" binding="basicHttpBinding" bindingConfiguration="basicBinding" contract="EzForm.EMR.BIZ.IEmrBL" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>
      <service behaviorConfiguration="HSPSvcBehavior" name="EzForm.EMR.BIZ.LegacyBL">
        <endpoint address="" behaviorConfiguration="restBehavior" binding="webHttpBinding" bindingConfiguration="restBinding" contract="EzForm.EMR.BIZ.ILegacyBL" />
        <endpoint address="soap" binding="basicHttpBinding" bindingConfiguration="basicBinding" contract="EzForm.EMR.BIZ.ILegacyBL" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>
      <service behaviorConfiguration="HSPSvcBehavior" name="EzForm.Form.BIZ.FormBL">
        <endpoint address="" behaviorConfiguration="restBehavior" binding="webHttpBinding" bindingConfiguration="restBinding" contract="EzForm.Form.BIZ.IFormBL" />
        <endpoint address="soap" binding="basicHttpBinding" bindingConfiguration="basicBinding" contract="EzForm.Form.BIZ.IFormBL" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>
      <service behaviorConfiguration="HSPSvcBehavior" name="EzForm.Form.BIZ.PrivateSetBL">
        <endpoint address="" behaviorConfiguration="restBehavior" binding="webHttpBinding" bindingConfiguration="restBinding" contract="EzForm.Form.BIZ.IPrivateSetBL" />
        <endpoint address="soap" binding="basicHttpBinding" bindingConfiguration="basicBinding" contract="EzForm.Form.BIZ.IPrivateSetBL" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>
      <service behaviorConfiguration="HSPSvcBehavior" name="EzForm.Form.BIZ.VodBL">
        <endpoint address="" behaviorConfiguration="restBehavior" binding="webHttpBinding" bindingConfiguration="restBinding" contract="EzForm.Form.BIZ.IVodBL" />
        <endpoint address="soap" binding="basicHttpBinding" bindingConfiguration="basicBinding" contract="EzForm.Form.BIZ.IVodBL" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>
      <service behaviorConfiguration="HSPSvcBehavior" name="EzForm.Stats.BIZ.StatsBL">
        <endpoint address="" behaviorConfiguration="restBehavior" binding="webHttpBinding" bindingConfiguration="restBinding" contract="EzForm.Stats.BIZ.IStatsBL" />
        <endpoint address="soap" binding="basicHttpBinding" bindingConfiguration="basicBinding" contract="EzForm.Stats.BIZ.IStatsBL" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>
      <service behaviorConfiguration="TransferServiceBehavior" name="EzForm.SOA.TransferService">
        <endpoint address="" binding="basicHttpBinding" bindingConfiguration="transferBinding" contract="EzForm.SOA.ITransferService" />
      </service>
    </services>
  </system.serviceModel>
  <system.diagnostics>
    <sources>
      <source name="System.ServiceModel" switchValue="Warning" propagateActivity="true">
        <listeners>
          <add name="traceListener" type="System.Diagnostics.XmlWriterTraceListener" initializeData="C:\Logs\formbl.svclog" />
        </listeners>
      </source>
    </sources>
  </system.diagnostics>
  <runtime>
    <gcServer enabled="true" />
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Oracle.DataAccess" publicKeyToken="89b483f429c47342" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-65535.65535.65535.65535" newVersion="4.122.19.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Ink" publicKeyToken="31BF3856AD364E35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.7.2600.2180" newVersion="1.7.2600.2180" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.data>
    <DbProviderFactories>
      <remove invariant="Oracle.DataAccess.Client" />
      <add name="ODP.NET, Managed Driver" invariant="Oracle.DataAccess.Client" description="Oracle Data Provider for .NET, Managed Driver" type="Oracle.DataAccess.Client.OracleClientFactory, Oracle.DataAccess, Version=4.122.19.1, Culture=neutral, PublicKeyToken=89b483f429c47342" />
    </DbProviderFactories>
  </system.data>
</configuration>
<!--ProjectGuid: 857277E7-2834-4BCD-915F-C47824223B8A-->